*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    padding: 2em 4em;
    background-color: #2e2d4d;
}
h1{
    text-align: center;
    margin-bottom: 0.5em;
    color: #e4e3d3;
    font-weight: bolder;
}
#mainSection{
    margin: 0;
    padding: 0.25em 0.5em;
    background-color: #e4e3d3;
    border-radius: 5px;
    
}
#mainSection .wrapper{
    margin: 0;
    padding: 0;
}
#mainSection .categoryDiv{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#category option{
}

#mainSection .details{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mainSection .details input{
    width: 100%;
    margin: 0.25em 0em;
    padding-left: 0.25em;
}
#mainSection #payBtn{
    width: fit-content;
    padding: 0em 1em;
    border-radius: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: none;
}
#errorSpan{
    color: red;
    font-weight: bold;
}
#summarySection{
    margin-top: 2em;
}
#summarySection h2{
    text-align: center;
    color: #e4e3d3;

}
#summaryTable{
    width: 100%;
}
#summaryThead{
    width: 100%;
    border: none;
}
#summaryThead tr{
    background-color: #e4e3d3;
}
#summaryThead tr th:first-child{
}
#summaryThead tr th:nth-child(2){
}
#summaryThead tr th:nth-child(3){
}
#summaryThead tr th:nth-child(4){
}
#summaryThead tr th:last-child{
    width: 50%;
}
#summaryThead th{
    padding: 0.25em 0.25em;
    font-size: 1.125em;
}
#summaryTbody tr{
    border-bottom: 1px solid #e4e3d3;
    color: #e4e3d3;
}
#summaryTbody tr .trClass{
    padding: 5em 0em;
}
#summaryTbody tr .serialNumberTd{
    padding-left: 0.25em;
}
#summaryTbody tr .categoryTd{
    padding-left: 0.25em;
}
#summaryTbody tr .numberOfItemTd{
    text-align: center;
}
#summaryTbody tr .bidAmountTd{
    text-align: center;
}
#summaryTbody tr .commentTd{
    padding-left: 0.25em;
    word-break: break-all;
}
#summaryTbody td{
    text-align: left;
    word-wrap: normal;
    table-layout: fixed;
    vertical-align: text-top;
}

@media all and (min-width: 320px) and (max-width: 480px){
    body{
        padding: 1em 0.5em;
    }
    h1{
        margin-bottom: 0.25em;
        font-size: 1.5em;
    }
    #mainSection{
        padding: 0.25em 0.5em;        
    }
    #mainSection .categoryDiv{
        margin-bottom: 1em;
    }
    #mainSection .categoryDiv h3{
        font-size: 1.25em;
        font-weight: bolder;
    }
    #category option{
        /* font-size: 1em; */
    }
    
    #mainSection .details{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mainSection h3{
        font-size: 1.25em;
        margin-bottom: 0.125em;
        font-weight: bolder;
    }
    #mainSection .details input{
        width: 100%;
        margin: 0.25em 0em;
        padding-left: 0.25em;
    }
    #mainSection #payBtn{
        width: fit-content;
        padding: 0em 1em;
        border-radius: 5px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border: none;
    }
    #summarySection{
        margin-top: 1em;
    }
    #summarySection h2{
        font-size: 1.375em;
        font-weight: bolder;
    }
    #summaryTable{
        width: 100%;
    }
    #summaryThead{
        width: 100%;
        border: none;
    }
    #summaryThead tr{
        font-weight: bold;
    }
    #summaryThead tr th:first-child{
    }
    #summaryThead tr th:nth-child(2){
    }
    #summaryThead tr th:nth-child(3){
    }
    #summaryThead tr th:nth-child(4){
    }
    #summaryThead tr th:last-child{
        width: 50%;
    }
    #summaryThead th{
        padding: 0.25em 0.25em;
        font-size: 0.75em;
    }
    #summaryTbody tr{
        border-bottom: 1px solid #e4e3d3;
        color: #e4e3d3;
    }
    #summaryTbody tr .trClass{
        padding: 5em 0em;
    }
    #summaryTbody tr .serialNumberTd{
        padding-left: 0.25em;
    }
    #summaryTbody tr .categoryTd{
        padding-left: 0.25em;
    }
    #summaryTbody tr .numberOfItemTd{
        text-align: center;
    }
    #summaryTbody tr .bidAmountTd{
        text-align: center;
    }
    #summaryTbody tr .commentTd{
        padding-left: 0.25em;
        word-break: break-all;
    }
    #summaryTbody td{
        text-align: left;
        word-wrap: normal;
        table-layout: fixed;
        vertical-align: text-top;
        font-size: 0.75em;
    }
}